<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & password!!</h6>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <a routerLink="/dashboard">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </a>
                </form>
                <span>Don't have an account? <a routerLink="/signup">Create account</a></span>
            </div>
        </div>
    </div>
</div>